body {
    /* background-color: #5C4533; */
    background-color: #4F3B2B;
    color: #E7D7C1;
    font-size: 36px;
    font-family: 'Visby Round CF', sans-serif;
    text-align: center;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header {
    /* background-color: #35271D; */
    background-color: #271D16;
    padding: 24px;
    background-size: cover;
}

.game-info {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.results-container {
    display: flex;
    flex-direction: column;
    margin: 24px;
}

.scoreboard {
    margin-top: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 96px;
}

button {
    padding: 40px;
    font-size: 100px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover {
    animation: shake 1.2s;
    animation-iteration-count: infinite;
}

a {
    font-size: 24px;
    text-decoration: none;
    color: #E7D7C1;
    margin-top: auto;
    margin-bottom: 24px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }